{% extends "product/productmaster.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <p class="text-muted">${{ product.price }}</p>
            <p>{{ product.description }}</p>
            <button class="btn btn-primary">Add to Cart</button>
        </div>
    </div>
</div>
{% endblock %}